*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  list-style: none;
}
:root {
  --primary-color-hue: 252;
  --color-dark-light-theme: 15%;
  --color-light-light-theme: 93%;
  --color-white-light-theme: 100%;

  --color-white: hsl(252, 30%, var(--color-white-light-theme));
  --color-light: hsl(252, 30%, var(--color-light-light-theme));
  --color-gray: hsl(252, 15%, 60%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 60%);
  --color-danger: hsl(0, 95%, 60%);
  --color-dark: hsl(252, 30%, var(--color-dark-light-theme));
  --color-black: hsl(252, 30%, 8%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;

  --btn-padding: 0.6rem 2rem;

  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
}

/* custom styles */

.container {
  width: 90%;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
}
.profile-picture {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.profile-picture:hover {
  opacity: 0.75;
}
.btn {
  padding: var(--btn-padding);
  display: inline-block;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  font-weight: 400;
  transition: 300ms ease all;
}
.btn:hover {
  opacity: 0.75;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}
.btn-danger {
  background: var(--color-danger);
  color: var(--color-white);
}
.text-bold {
  font-weight: 500;
}
.text-gray {
  color: var(--color-gray);
}

/* start navbar */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0.7rem 0;
  background: var(--color-white);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .search-bar {
  padding: var(--search-padding);
  background: var(--color-light);
  border-radius: var(--border-radius);
}
nav .search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}
nav .search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}
.add-post {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.logo h3 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
  color: var(--color-dark);
}
.logo span {
  color: var(--color-primary);
}
/* end navbar */

/* start main  */
main {
  position: relative;
  top: 5.6rem;
}
.main-container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  position: relative;
}

/* left */
.main-left {
  position: sticky;
  height: max-content;
  top: 5.5rem;
}
.main-left .profile {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  width: 100%;
  gap: 1rem;
  display: flex;
}
#my-profile-picture {
  cursor: pointer;
}
aside {
  margin-top: 1rem;
  border-radius: var(--card-border-radius);
}

aside .menu-item {
  display: flex;
  align-items: center;
  height: 3.5rem;
  position: relative;
  cursor: pointer;
  transition: 300ms ease all;
  background: var(--color-white);
}
aside .menu-item:hover {
  background: var(--color-light);
}
aside .menu-item span i {
  width: 1.5rem;
  margin-left: 2rem;
  position: relative;
  font-size: 1.5rem;
}
aside .notify-counter {
  background: var(--color-danger);
  color: var(--color-white);
  width: fit-content;
  font-size: 0.7rem;
  border-radius: 40%;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: 0;
  left: 3.2rem;
}
aside .menu-item h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}
aside .active {
  background: var(--color-light);
}
aside .active h3 {
  color: var(--color-primary);
}
aside .active span i {
  color: var(--color-primary);
}
aside .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  background: var(--color-primary);
}
aside .menu-item:first-child {
  overflow: hidden;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}
aside .menu-item:last-child {
  overflow: hidden;
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}
.btn-lg {
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
/* end left */

/* start middle */
.notification-box {
  width: 30rem;
  left: 110%;
  position: absolute;
  top: 0;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: var(--color-primary) 0 0 1rem;
  z-index: 8;
  display: none;
}
.notification-box::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background: var(--color-white);
  position: absolute;
  left: -0.6rem;
  transform: rotate(45deg);
}
.notification-box > div {
  display: flex;
  gap: 1rem;
  align-items: start;
  margin-bottom: 1rem;
}
.notification-box .profile-picture {
  width: 2.6rem;
}
.notification-box > div small {
  display: block;
}

/* middle */
.middle-container {
  max-width: 700px !important;
  width: 90%;
  margin: 0 auto;
}

.swiper-wrapper {
  height: 12rem !important;
  gap: 1rem;
}
.swiper-wrapper .story {
  width: 8rem;
  height: 100%;
  position: relative;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}
.story input {
  display: none;
}
.story::before {
  height: 5rem;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  background: linear-gradient(transparent, var(--color-primary));
  width: 100%;
}
.story:first-child {
  background: var(--color-primary);
}
.story .profile-picture {
  position: absolute;
  top: 0;
  left: 0.2rem;
  width: 2.4rem;
  border: 2px dashed var(--color-primary);
  z-index: 8;
}
.story p {
  text-align: center;
  margin-top: -3rem;
  color: var(--color-white);
  z-index: 8;
  position: absolute;
  width: 100%;
}
.story > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story .add-story {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  top: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.story .add-story i {
  display: block;
  font-size: 1.4rem;
  margin-top: -1rem;
  color: var(--color-white);
}
.story .add-story p {
  margin-bottom: -7rem;
}
/* end story */

.middle-container .add-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
  background: var(--color-white);
  margin-top: 1rem;
}
.middle-container .add-post input[type="text"] {
  justify-self: start;
  width: 100%;
  padding-left: 1rem;
  background: transparent;
  margin-right: 1rem;
}
.middle-container .add-post .profile-picture {
  width: 2.8rem;
}
/* start feed */
.feeds .feed {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin: 1rem auto;
  line-height: 1.5;
  font-size: 0.85rem;
}
.feeds .feed .feed-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myfeed .feed-top .edit {
  position: relative;
}
.feed .feed-top .user {
  display: flex;
  gap: 1rem;
}
.fa-ellipsis {
  font-size: 2rem;
}
.feed .feed-img {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.8rem 0;
}
.feed .feed-img h4 {
  padding: 0.3rem 0;
}
.feed .action-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}
.action-button span i {
  font-weight: normal;
  margin-right: 1rem;
  cursor: pointer;
}
.action-button .bookmark i {
  cursor: pointer;
}
.liked-by {
  display: flex;
  align-items: center;
}
.liked-by span {
  border-radius: 50%;
  display: block;
  height: 1.4rem;
  width: 1.4rem;
  overflow: hidden;
  margin-left: -0.5rem;
  border: 2px solid var(--color-white);
}
.liked-by span:first-child {
  margin-left: 0;
}
.liked-by p {
  margin-left: 0.5rem;
}
.comments:hover {
  text-decoration: underline;
  cursor: pointer;
}

.edit .edit-menu {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  right: 0;
  box-shadow: 0 0 0.2rem var(--color-primary);
  top: 2.2rem;
  transform: scale(0);
  transition: 210ms all ease;
  transition-duration: 0.4s;
}
.edit {
  cursor: pointer;
}
.edit:hover .edit-menu {
  transform: scale(1);
}
.edit .edit-menu li {
  color: var(--color-gray);
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease all;
}
.edit .edit-menu li:hover {
  color: var(--color-dark);
}
.edit .edit-menu li:last-child:hover {
  color: var(--color-danger);
}
/* end feed */

/* end middle */

/* right */
.main-right {
  height: max-content;
  position: sticky;
  top: 6rem;
  bottom: 0;
}
.messages {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}
.message-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.messages i {
  font-size: 1.4rem;
  cursor: pointer;
}
.message-search-bar {
  display: flex;
  align-items: center;
  background: var(--color-light);
  padding: 1rem;
  border-radius: var(--border-radius);
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.message-search-bar i {
  font-size: 0.8rem;
}
.message-search-bar input[type="search"] {
  width: 90%;
  background: transparent;
  color: var(--color-dark);
  font-size: 0.9rem;
}
.message-categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.message-categories h6 {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid var(--color-light);
  cursor: pointer;
}
.message-categories .active {
  border-color: var(--color-primary);
}
.message {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.message:last-child {
  margin-bottom: 0rem;
}
.message p {
  font-size: 0.8rem;
}
.message .profile-picture {
  position: relative;
  overflow: visible;
  width: 2.6rem;
  height: 2.6rem;
}
.message .profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.green-active {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--color-success);
  bottom: -2px;
  position: absolute;
}
.message-request {
  color: var(--color-primary);
}
.friend-request {
  margin-top: 1rem;
}
.friend-request h4 {
  color: var(--color-gray);
  margin: 1rem 0;
}
.request {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 1rem;
}
.alert {
  display: none;
}
.request .info {
  display: flex;
  gap: 0.5rem;
  align-items: start;
  margin-bottom: 1rem;
}
.request .action {
  display: flex;
  gap: 1rem;
}
/* end main  */

/* start profile popup */
.popup {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: var(--color-primary) 0 0 1rem;
}
.popup-wrapper {
  position: relative;
}
.popup-box {
  width: fit-content;
  height: max-content;
  background: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

#profile-upload {
  display: none;
}

.profile-popup-box > div {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 1rem;
}
.popup .close {
  font-size: 1.6rem;
  color: var(--color-gray);
  position: absolute;
  top: 0.6rem;
  right: 0.8rem;
  cursor: pointer;
}
/* end profile popup */

/* start add post popup */

.add-post-popup {
  gap: 1rem;
}
.post-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.post-title label {
  font-size: 1.4rem;
  font-weight: bold;
}
.post-title input {
  background: var(--color-light);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  font: 1.1rem;
}
.post-title input:focus {
  border: 1px solid var(--color-gray);
}
.post-img img {
  width: 8rem;
  margin: 1rem auto;
  background: var(--color-gray);
}
.feed-upload-button {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
  padding: var(--card-padding);
  border: 2px dashed var(--color-dark);
  border-radius: var(--card-border-radius);
  cursor: pointer;
}
#feed-pic-upload {
  display: none;
}
.add-post-popup .close {
  font-size: 1.6rem;
  color: var(--color-gray);
  position: absolute;
  top: 0.6rem;
  right: 0.8rem;
  cursor: pointer;
}
/* end add post popup */

/* start theme-customization-popup-box */
.theme-customize {
  position: fixed;
}
.theme-customization-popup-box .font-size {
  margin-top: 3rem;
}
.theme-customization-popup-box .font-size > div {
  display: flex;
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  margin: 1rem 0;
}
.choose-size {
  width: 100%;
  height: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  background-color: var(--color-secondary);
  margin: 0 1rem;
}
.choose-size span {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-secondary);
  border: 0.1px solid #78777770;
  border-radius: 50%;
  cursor: pointer;
}
.choose-size .active {
  background: var(--color-primary);
}
/* color */
.choose-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--card-border-radius);
  padding: var(--search-padding);
  background-color: var(--color-light);
  margin: 1rem 0;
}
.choose-color span {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.5rem;
}
.choose-color .active {
  border: 2px solid var(--color-dark);
}
.choose-color span:nth-child(1) {
  background: hsl(252, 75%, 60%);
}
.choose-color span:nth-child(2) {
  background: hsl(52, 75%, 60%);
}
.choose-color span:nth-child(3) {
  background: hsl(352, 75%, 60%);
}
.choose-color span:nth-child(4) {
  background: hsl(152, 75%, 60%);
}
.choose-color span:nth-child(5) {
  background: hsl(202, 75%, 60%);
}
/* background */
.choose-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 1rem;
}
.choose-bg > div {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  padding: var(--card-padding);
  border-radius: 0.4rem;
  cursor: pointer;
}
.choose-bg .active {
  border: 2px solid var(--color-primary);
}
.choose-bg .bg-1 {
  background-color: #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
  color: #000;
}
.choose-bg .bg-2 {
  background-color: black;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
  color: white;
}
.choose-bg > div span {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  border: 2px solid var(--color-gray);
  margin-right: 0.4rem;
}
/* end theme-customization-popup-box */

/* js linked css */
.boxshadow {
  box-shadow: 0 0 0.5rem var(--color-primary);
}
.liked {
  font-weight: bold !important;
  color: var(--color-danger) !important;
  transform: scale(1.1) !important;
}

/* start responsive whole page */
/* 1200px */
@media only screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }
  .main-container {
    grid-template-columns: auto 30vw;
  }
  .main-left {
    width: 5rem;
    z-index: 5;
    position: fixed;
    left: 0;
  }
  .main-container .main-left .profile {
    display: none;
  }
  aside h3 {
    display: none;
  }
  aside .menu-item span i {
    margin-left: 1.4rem;
  }
  .main-left .btn {
    display: none;
  }
}
/* 991 */
@media only screen and (max-width: 991px) {
  nav .search-bar {
    display: none;
  }
  .main-container {
    grid-template-columns: minmax(auto, 40rem);
    justify-content: center;
  }
  .main-right {
    display: none;
  }
  .main-left {
    right: 0;
    top: 10%;
    opacity: 0.3;
  }
  .main-left:hover {
    opacity: 1;
  }
}

/* 768px */
@media only screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: minmax(auto, 30rem);
    justify-content: center;
  }
  .swiper-wrapper .story {
    width: 7rem !important;
  }
  aside .notify-counter {
    left: 0;
  }
  .main-left {
    width: 4rem;
    opacity: 0.3;
  }
}

/* 568px */
@media only screen and (max-width: 568px) {
  .main-container {
    grid-template-columns: minmax(auto, 20rem);
    justify-content: center;
  }
  .mini-button {
    width: max-content;
  }
  .add-post {
    gap: 1rem;
  }
  .swiper-wrapper .story {
    width: 6rem !important;
  }
}

/* end responsive whole page */
